name: Release LaTeX document and source
on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4.2.2
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: src
          root_file: Epp.tex
          latexmk_shell_escape: true
      - name: Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          make_latest: true
          generate_release_notes: true
          preserve_order: true
          files: src/Epp.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
